doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/sass/style.css")
    link(rel='shortcut icon', type='image/png' href='/images/icons/snowman.png')
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- script(src='/dist/cartSystem.js', defer)
    
  body.body
    block header
      nav
        .ads
          button.chevron__left
            !=h.icon('chevron-left-solid')
          div
            h1 Lorem ipsum dolor sit amet, consectetur adipiscing, consectetur adipiscing. 
            a.learn__more(href='#') Learn More
          button.chevron__right
            !=h.icon('chevron-right-solid')
        .menu__items
          .menu__left
            each item in h.menu
              .menu__item
                a(href=item.link) !{item.title}
          .menu__site-name
            a(href='/')
              h1 Oyale Fabrics
          
          .menu__right      
            -let menus = ['search-solid']
            each icon in menus
              button.button 
                != h.icon(icon)
            if user
              a.cart__btn(href=`/user/${user._id}/cart`)
                span(class="nav__icon")
                  != h.icon('shopping-bag-solid')
                .cart__items #{user.products && user.products.length}
            else
              a.cart__btn(href=`/register`)
                span(class="nav__icon")
                  != h.icon('shopping-bag-solid')
                .cart__items 0
            button.button.menu__btn
              !=h.icon('bars-solid')

        #menu
          //- a(href=`/user/${user.slug}`)
          //-   != h.icon('user-solid')
          if user
            //- a(href=`/user/${user._id}`) My Account
            //- h1 Welcome,
            
            .user__avatar 
              a(href=`/user/${user.slug}`)
                i.fas.fa-user
                span My Account
              //- a(href=`/user/${user.slug}/${user.cart}`)
              //-   h6 My Bag
              //- a(href=`/user/${user.slug}/${user.hearts}`)
              //-   h6 My Wish list
              //- a(href=`/user/${user.slug}/${user.cart}`)
              //- a(href='/logout') Logout
              a(href="#news") Shop Men
              a(href="#contact") Shop Women
              a(href="#about") About
              a(href="#about") Contact
          else
            a(href="/login") Login or Sign up
            a(href="#news") Shop Men
            a(href="#contact") Shop Women
            a(href="#about") About
            a(href="#about") Contact

        //- cart
        //- 



        //- menu
        //- .menu__overlay
        //-   .menu
        //-     span(class='close__menu')
        //-       i.fas.fa-window-close
        //-     h2 your cart

        //-     .menu__content
        //-       h3 menu

        //-     .menu__footer
        //-       h3 Oyale Fabrics And Fashion Empire
        //-       h3 All Rights Reserved

    .content  
      block messages
      if locals.flashes
        .inner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;
      block content

    footer.footer
      block footer
        -let icons = ['twitter-brands', 'instagram-brands',  'pinterest-brands', 'facebook-f-brands']
        .socials
          each icon in icons
            a.social(href="#")
              != h.icon(icon)
        .copyright
          p privacy | contact
          p &copy 2021 Oyale Fabrics and Fashion Empire. 
          p All rights reserved.
          

    block scripts
      script(src='/dist/App.bundle.js', defer)
      script(src="https://cdn.jsdelivr.net/npm/contentful@latest/dist/contentful.browser.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js", defer)
      script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js", defer)
      script(src="https://kit.fontawesome.com/ca3717ead6.js" crossorigin="anonymous", defer)
            
          